@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

.react-icons {
  @apply text-3xl lg:text-6xl;
}
.section-title {
  @apply text-2xl lg:text-4xl font-semibold underline underline-offset-8;
}

.project-card {
  @apply bg-gray-50 hover:bg-gray-100 w-full lg:w-1/2 xl:max-w-[37rem] p-4 
  flex flex-col gap-2 rounded-lg;
}

.project-image {
  @apply rounded-lg object-cover max-h-96 w-full;
}
.blog-image {
  @apply rounded-lg object-cover max-h-60 w-full;
}

.project-title {
  @apply text-xl lg:text-2xl font-semibold;
}

.project-description {
  @apply text-lg;
}

.view-links {
  @apply flex flex-row gap-5;
}

.service,
.tools,
.blog,
.projects {
  @apply flex flex-col lg:gap-12 gap-5;
}
.service-section {
  @apply flex lg:flex-row flex-wrap flex-col gap-4 justify-center items-center;
}

.service-section-card {
  @apply w-full lg:w-1/2 xl:max-w-[37rem] flex flex-col items-center justify-start rounded-2xl border-2 border-gray-300 p-4 hover:bg-gray-100 lg:h-52 md:h-52;
}

.service-section-card:nth-child(1),
.service-section-card:nth-child(4) {
  @apply border-primary;
}
.service-section-card:nth-child(2) > div > .project-title,
.service-section-card:nth-child(3) > div > .project-title {
  @apply text-primary;
}

.service-section-card > div {
  @apply flex flex-col items-center  gap-4 h-full;
}

.service-icon {
  @apply text-6xl h-[35%];
}

.tool-section {
  @apply flex flex-col lg:flex-row lg:gap-[5rem] gap-5;
}

.tool-card {
  @apply w-full lg:w-[30rem] flex flex-col items-center border-2 border-gray-300 p-4 hover:bg-gray-100 gap-5;
}

.tool-icon,
.contact-react-icons {
  @apply text-4xl lg:text-6xl flex flex-col justify-center items-center;
}

.tool-list {
  @apply flex flex-row flex-wrap gap-4 justify-center items-start h-full;
}

.tool-list > li {
  @apply flex flex-col w-20 justify-center items-center;
}

.contact {
  @apply flex flex-col gap-4 pb-10;
}

.contact-section {
  @apply flex flex-col lg:gap-6 gap-4 items-center;
}

.contact-section-socials {
  @apply flex flex-row lg:gap-12 justify-between w-full lg:w-min md:w-min md:gap-10;
}
